@using NumbersToWords.Models.Shared
@using NumbersToWords.Models.Cheque

@model Cheque

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Form", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    { Html.EnableClientValidation(false); }

    if (!ViewData.ModelState.IsValid)
    {
        {
            Html.RenderPartial("_alert",
              new Alert()
              {
                  AlertType = AlertType.Failure,
                  Message = Html.ValidationSummary("Please resolve the following issues:").ToString()
              });
        }
    }
    
    <label class="formItem">
        <span class="formItem__text">
            Who to pay <span class="required">*</span>
        </span>

        @Html.EditorFor(x => x.Name, new
        {
            htmlAttributes = new
            {                
                @class = "formItem__input",
                required = "required",
                maxlength = Cheque.MaxNameLength
            }
        })
    </label>

    <label class="formItem">
        <span class="formItem__text">
            Date <span class="required">*</span>
        </span>
        @Html.EditorFor(x => x.Date, new
        {
            htmlAttributes = new
            {
                //type = "date",
                placeholder = "yyyy/mm/dd",
                @class = "formItem__input",
                id = "datepicker",
                required = "required",
                min = Cheque.MinDate.Date.ToString("yyyy-MM-dd"),
                max = Cheque.MaxDate.Date.ToString("yyyy-MM-dd")
            }
        })
    </label>

    <label class="formItem">
        <span class="formItem__text">
            Amount in AUD<span class="required">*</span>
        </span>

        @Html.EditorFor(x => x.Amount, new
        {
            htmlAttributes = new
            {
                type = "number",
                placeholder = "#.##",
                @class = "formItem__input",
                required = "required",
                min = Cheque.MinAcceptedAmount,
                max = Cheque.MaxAcceptedAmount,
                step = ".01"
            }
        })
    </label>

    <button type="submit" class="btn" id="submitForm">Submit</button>
}
